@{
    ViewData["Title"] = "Home Page";
}
@model string

<div class="text-center">
    <div class="d-flex">
        <a href="/">Message |</a>
        <a href="/numbers">Numbers |</a>
        <a href="/user">User |</a>
        <a href="/users">Users</a>
    </div>
    <p>Here is a Message</p>
    <p>@Model</p>
</div>
