@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="d-flex">
        <a href="/">Message |</a>
        <a href="/numbers">Numbers |</a>
        <a href="/user">User |</a>
        <a href="/users">Users</a>
    </div>
    <p>Here is a list of users</p>
</div>

@model List<User>
@foreach (User u in Model)
{

    <p>@u.FirstName @u.LastName</p>
}
